.banner-img {
  margin-top: 60px;
}

.home-page{
  height: 100%;
  --r: 56px;
  --c1: #fff 99%, #0000 101%;
  --c2: rgba(240, 248, 255, .438) 99%, #0000 101%;
  --s: calc(var(--r)* .866);
  --g0: radial-gradient(var(--r), var(--c1));
  --g1: radial-gradient(var(--r), var(--c2));
  --f: radial-gradient(var(--r) at calc(100% + var(--s)) 50%, var(--c1));
  --p: radial-gradient(var(--r) at 100% 50%, var(--c2));
  background: var(--f) 0 calc(-5* var(--r) / 2), var(--f) calc(-2* var(--s)) calc(var(--r) / 2), var(--p) 0 calc(-2* var(--r)), var(--g0) var(--s) calc(-5* var(--r) / 2), var(--g1) var(--s) calc(5* var(--r) / 2), radial-gradient(var(--r) at 100% 100%, var(--c1)) 0 calc(-1* var(--r)), radial-gradient(var(--r) at 0% 50%, var(--c1)) 0 calc(-4* var(--r)), var(--g1) calc(-1* var(--s)) calc(-7* var(--r) / 2), var(--g0) calc(-1* var(--s)) calc(-5* var(--r) / 2), var(--p) calc(-2* var(--s)) var(--r), var(--g0) calc(-1* var(--s)) calc(var(--r) / 2), var(--g1) calc(-1* var(--s)) calc(var(--r) / -2), var(--g0) 0 calc(-1* var(--r)), var(--g1) var(--s) calc(var(--r) / -2), var(--g0) var(--s) calc(var(--r) / 2) rgb(240, 248, 255);
  background-size: calc(4* var(--s)) calc(6* var(--r));
}

.home-page h1 {
  color: gray;
  font-family: "Playfair Display", serif;
}

.home-page {
  display: flex;
  flex-wrap: wrap;
}
.home-page .card {
  background-color: rgba(128, 128, 128, 0.097);
  width: 18rem;
}
.home-page .card-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-page .card-price {
  color: green;
  font-weight: bold;
}
.home-page button {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.home-page .card-text {
  color: rgb(90, 89, 89);
}

.home-page .card img:hover {
  transform: scale(0.9);
}

.home-page .card-img-top {
  height: 300px !important;
}
/* ==================
filters
============== */
.filters h4 {
  margin-top: 100px;
  color: gray !important;
  border-bottom: 1px solid rgba(128, 128, 128, 0.337);
}

.ant-checkbox-wrapper:first-of-type {
  margin-left: 8px;
}

.ant-checkbox-wrapper {
  margin: 2px;
}
.ant-radio-wrapper {
  margin-bottom: 5px !important;
  margin-left: 10px;
}

.filters button {
  background-color: black;
  width: 100%;
  border: none;
  border-radius: 0;
  margin-top: 20px;
}

.loadmore {
  color: green;
  font-weight: bold;
  font-size: 20px !important;
}
